# Task 1

In [11]:
import pandas as pd
import numpy as np

# Create a NumPy array with random values
data = np.random.randn(4, 4)

# Create the DataFrame
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

          0         1         2         3
0 -1.012831  0.314247 -0.908024 -1.412304
1  1.465649 -0.225776  0.067528 -1.424748
2 -0.544383  0.110923 -1.150994  0.375698
3 -0.600639 -0.291694 -0.601707  1.852278

# Task 2

In [12]:
df.columns=['Random value 1', 'Random value 2', 'Random value 3', 'Random value 4']

In [13]:
df

   Random value 1  Random value 2  Random value 3  Random value 4
0       -1.012831        0.314247       -0.908024       -1.412304
1        1.465649       -0.225776        0.067528       -1.424748
2       -0.544383        0.110923       -1.150994        0.375698
3       -0.600639       -0.291694       -0.601707        1.852278

# Task 3

In [14]:
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean        -0.173051       -0.023075       -0.648299       -0.152269
std          1.112248        0.285765        0.527490        1.581545
min         -1.012831       -0.291694       -1.150994       -1.424748
25%         -0.703687       -0.242256       -0.968766       -1.415415
50%         -0.572511       -0.057427       -0.754865       -0.518303
75%         -0.041875        0.161754       -0.434398        0.744843
max          1.465649        0.314247        0.067528        1.852278

# Task 4

In [15]:
df.isnull().sum()

Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

# Task 5

In [16]:
df.loc[:, ['Random value 2', 'Random value 3']]

   Random value 2  Random value 3
0        0.314247       -0.908024
1       -0.225776        0.067528
2        0.110923       -1.150994
3       -0.291694       -0.601707

In [17]:
df.iloc[:, [1, 2]]

   Random value 2  Random value 3
0        0.314247       -0.908024
1       -0.225776        0.067528
2        0.110923       -1.150994
3       -0.291694       -0.601707